.rightbar {
    flex: 3.5;
}

.rightbarWrapper {
    padding: 20px 20px 0 0;
}

.rightbarTitle {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 800;
}

.rightbarFriendList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.rightbarInfo {
    margin-bottom: 5px;
}

.rightbarInfoItem {
    margin-bottom: 10px;
}

.rightbarInfoKey {
    font-weight: 500;
    margin-right: 15px;
    color: #555;
}

.rightbarInfoValue {
    font-weight: 300;
}

.rightbarFollowings {
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
}

.rightbarFollowing {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
}



.rightbarFollowingImg {
    height: 100px;
    width: 100px;
    border-radius: 5px;
    object-fit: cover;
}

